@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark: #14213F;
}

* {
    font-family: 'Montserrat';
    color: var(--dark);
}

body{
    background-color: #F7F7F7;
}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

@media screen and (max-width < 1440px){
    .wrapper{
        margin: 0 40px;
    }
}